.menu-toggle-icon {
  display: block;
  transition: all 0.5s ease-in-out;
  z-index: 4;
  cursor: pointer;
  width: max-content;
  > div {
    background: #000;
    height: 3px;
    transition: all 0.5s ease-in-out;
  }
  &__line2 {
    width: 70%;
    text-align: right;
    margin-left: 30%;
  }
  &__line1,
  &__line3 {
    margin: 5px 0;
    width: 30px;
  }

  &.toggle {
    .menu-toggle-icon {
      &__line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      &__line2 {
        width: 0;
      }
      &__line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}
