:host {
  display: block;
}
.text-with-color {
  text-align: center;
  margin: 0 auto;
  width: 950px;
}
.text-with-color--container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: var(--bs-gutter-x, 0.75rem);
  width: 100%;
}
@media (min-width: 576px) {
  .text-with-color--container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .text-with-color--container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .text-with-color--container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .text-with-color--container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .text-with-color--container {
    max-width: 1320px;
  }
}
.text-with-color__logo svg {
  fill: #000;
}
.text-with-color__logo svg g {
  mix-blend-mode: color-burn;
}
.text-with-color__title {
  font-size: 4rem;
}

.text-with-color__first {
  font-size: 2.5rem;
  line-height: 62px;
  margin-top: 3.75rem;
  overflow: hidden;
  text-align: center;
}

.text-with-color__first span {
  animation: zoom 3s infinite;
  -webkit-animation: zoom 3s infinite;
  font-size: 3.75rem;
  transition: transform 3s;
}
.text-with-color__first--orange {
  color: #ce8062;
}
.text-with-color__first--mauve {
  color: #bd7f9e;
}
.text-with-color__first--gray {
  color: #74869a;
}
.text-with-color__first--blue {
  color: #a5c7d4;
}
.text-with-color__second {
  color: #5a5858;
  font-weight: 700;
  line-height: 62px;
  font-size: 2.5rem;
}
