@import './variables.css';
@import './reset.css';
@import './typography.css';
@import './buttons.css';
@import './link.css';
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  color: #000;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
div {
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
main {
  padding-top: calc(80px + 2.5rem);
}
