.hero__section {
  display: grid;
  gap: 5rem;
  width: 100%;
}

.hero__title {
  font-size: 2.75rem;
  text-align-last: center;
  text-align: center;

  &-container {
    max-width: 982px;
    padding: 0 var(--offset);
    margin: 0 auto;
  }

  &__cv {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--orange);
  }

  &__vacancies {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--light-blue);
  }

  &__linkedin {
    position: relative;
    color: var(--blue);
    cursor: pointer;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 4px;
    line-height: 3rem;
  }

  &__position {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--purple-light);
  }

  &__help {
    font-weight: bold;
  }
  &__make {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    line-height: 5rem;
  }
}

.break:before {
  @media (min-width: 768px) {
    content: '\A';
    white-space: pre;
  }
}

.hero__img-container {
  position: relative;
  height: 350px;
  width: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  &__title {
    color: white;
    font-size: 3.75rem;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}
