button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
img,
svg {
  vertical-align: middle;
}
p {
  margin-bottom: 1rem;
  margin-top: 0;
  overflow: hidden;
}
