.form__section {
  width: 100%;
}

.careers-form {
  display: flex;
  width: 100%;
  max-width: 1020px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2.5em;
  padding: 0 var(--offset);
  margin: 0 auto;
  font-size: 1rem;
  padding-bottom: 6.25em; /** Here the page bottom padding */
}

.careers-form__title-container {
  padding: 1.25em 0;
}

.careers-form__title {
  font-weight: bold;
  font-size: 2.25rem;
}

.careers-form__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2.5em;
  width: 100%;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.careers-form__container__input-container {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  justify-content: space-between;
  width: 100%;
}

.careers-form__container__input-container > label {
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.careers-form__container__input-container > input {
  border: 0;
  border-radius: 50rem;
  background-color: white;
  padding: 0.7em 1.5em;
  font-size: 1.5rem;
}

.careers-form__container__input-container > input:focus {
  outline: none;
}

.careers-form__container__input-container__textarea {
  border: 0;
  font-size: 1.25rem;
  border-radius: 15px;
  background-color: white;
  padding: 0.7em 1.5em;
}

.careers-form__container__cv-btn {
  position: relative;
  font-size: 1.857rem;
  margin-top: 0.625em;
  padding: 0.625em 0.3em;
  border: none;
  outline: none;
  background-color: transparent;
}

.careers-form__container__cv-btn::after {
  content: '';
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
  width: 207px;
  height: 2px;
  background-color: black;
}

.careers-form__container__submit-btn {
  border: 0;
  border-radius: 9999px;
  background-color: black;
  color: white;
  margin-top: 1.875;
  padding: 0.8em 2.6em;
  font-size: 1.25rem;
}
